/* SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: lightgrey;
  margin-bottom: 50px;
}

h2 {
  font-size: 40px;
  color: rgb(51,71,91);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 15px;
  color: rgb(51,71,91);
  text-align: center;
}


/* BOXES SETTINGS: borders, etc (so che non si dovrebbe usare !important)*/
/* BORDERS SIDES */

.border-big-t {
  border-top: 5px solid #000 !important;
}

.border-big-l {
  border-left: 5px solid #000 !important;
}

.border-big-r {
  border-right: 5px solid #000 !important;
}

.border-big-b {
  border-bottom: 5px solid #000 !important;
}


.border-b {
  border-bottom: 2px solid rgba(0,0,0, 0.3) !important;
}

.border-l {
  border-left: 2px solid rgba(0,0,0, 0.3) !important;
}

.border-r {
  border-right: 2px solid rgba(0,0,0, 0.3) !important;
}

.border-t {
  border-top: 2px solid rgba(0,0,0, 0.3) !important;
}


/* BOXES BG (so che non si dovrebbe usare !important) */

.w {
  /* white background */
  background: #eaeaea !important;
}

/* IMAGE SETTINGS */

.relative-box {
  position: relative;
}

.image img {
  position: absolute;
  top: -25%;
  left: 50%;
  width: 300%;
  z-index: 3;
}
